.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  background-color: #72b471;
  padding: 32px 0 32px 42px;
}

.backIcon {
  position: absolute;
  color: white;
  display: inline-block;
  font-size: xx-large;
  font-weight: bolder;
  top: 37px;
  left: 20px;
  cursor: pointer;
}

.headerTitle {
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.header h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
}

.userInfo {
  margin-right: 43px;
}

.logout {
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 103, 103);
  color: white;
  font-weight: 800;
  margin-left: 30px;
  width: 120px;
  height: 40px;
}

.userName {
  font-weight: bolder;
  color: white;
  font-size: larger;
}