.container {
  height: 100vh;
  background-color: rgba(114, 180, 113, 1);
}

.title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 420px;
}

.title span {
  font-size: x-large;
}

.title h1 {
  font-size: 140px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm {
  margin-top: 20px;
}

.loginForm input:first-child {
  margin-bottom: 45px;
}

.loginForm input {
  border: none;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 350px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 13px 21px;
}

.forgotPass {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #606060;
  font-size: small;
}

.loginBtn {
  text-align: center;
  margin-top: 50px;
}

.loginBtn button {
  border-radius: 500px;
  border: none;
  background-color: #53a2ff;
  color: white;
  padding: 27px 45px;
  box-shadow: 0px 4px #00000042;
  cursor: pointer;
}

.errorContainer {
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.errorMsg {
  color: red;
  font-weight: 700;
}
