.btnLayout {
  height: 249px;
  width: 340px;
  padding: 64px 87px;
  background-color: #c5c5c5;
  border: 5px solid #72b471;
  border-radius: 20px;
  font-size: 37px;
  color: white;
  font-weight: bold;
}
