.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 99px auto;
  width: 800px;
  height: 600px;
}


.comContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 99px auto;
  width: 1100px;
  height: 600px;
}