.container {
    margin: 30px auto;
    height: 100vh;
    width: 1300px;
  }
  
  .searchForm input {
    position: relative;
    top: -3px;
    height: 45px;
    width: 345px;
    border: none;
    border-radius: 20px;
    padding: 11px 0 11px 22px;
  }
  
  .searchBtn {
    cursor: pointer;
    padding: 7px 40px;
    background-color: #72b471;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 45px;
    font-size: larger;
    margin-left: 26px;
  }
  
  .noCustomer {
    margin-top: 19px;
  }
  
  .listHeader {
    position: sticky;
    width: 1000px;
    top: 0px;
    margin: 0 auto;
    overflow: hidden;
    font-size: x-large;
    border-bottom: 1px solid black;
    background-color: white;
    padding-top: 30px;
    display: flex;
  }

  .listHeader div {
    display: inline-block;
    text-align: center;
  }
  
  .listHeader div:first-child {
    width: 160px;
    margin-left: 20px;
  }
  
  .listHeader div:nth-child(2) {
    width: 160px;
    margin-left: 20px;
  }
  
  .listHeader div:nth-child(3) {
    width: 160px;
    margin-left: 20px;
  }
  
  .listHeader div:nth-child(4) {
    width: 160px;
    margin-left: 30px;
  }
  
  .userList {
    position: relative;
    height: 386px;
    margin-top: 19px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000042;
    padding: 0 41px 34px 41px;
    overflow: scroll;
  }
  
  .userList li {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
    font-size: larger;
    display: flex;
    border-bottom: 1px solid #c5c5c5;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
  }
  
  .userId {
    width: 160px;
    overflow-x: scroll;
    overflow-anchor: none;
  }
  
  .userName {
    text-align: center;
    width: 160px;
    overflow-x: scroll;
    overflow-anchor: none;
  }

  .userId {
    width: 160px;
    overflow-x: scroll;
    overflow-anchor: none;
  }

  .userPermission {
    width: 160px;
    overflow-x: scroll;
    overflow-anchor: none;
  }
  
  .userList li button {
    cursor: pointer;
    width: 100px;
    height: 45px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: large;
    line-height: 25px;
    background-color: #53a2ff;
  }
  
  .userList li button:last-child {
    background-color: #ff8888;
  }
  
  .addUser {
    cursor: pointer;
    position: relative;
    top: 79px;
    right: -1073px;
    background-color: #53a2ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: x-large;
    padding: 23px 34px;
    width: 228px;
    height: 80px;
    box-shadow: 0 4px 4px #00000042;
  }
  